html,
body {
    height: 100%;
}
.main-wrapper{
    background: #0a0b0d;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
}
.left-menu{
    width: 360px;
    position: absolute;
    top:0;
    bottom: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.btn-left-menu{
    width: 30px;
    height: 20px;
    background: url("../images/btn-menu-left.png") no-repeat;
    background-size: contain;
    position: absolute;
    top:15px;
    left:20px;
    z-index: 2;
    cursor: pointer;
}
.left-menu-inner-wrapper{
    margin: 125px auto 0;
    position: relative;
    width: 280px;
}
.toggle-left-menu{
    width: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.toggle-left-menu .left-menu-inner-wrapper{
    display: none;
}
.menu-element{
    padding: 0;
    margin: 25px auto;
}
input[type="text"].input-style{
    font: 18px Calibri;
    display: block;
    width: 100%;
    height: 65px;
    border: none;
    border-bottom: 2px solid #d77016;
    border-radius: 0;
    padding: 25px 10px;
    color: #fff;
    background-color: #221203;
    outline: none;
    box-sizing: border-box;
}
.menu-element input::-webkit-input-placeholder {
    color: #fff;
}
.menu-element input::-moz-placeholder {
    color: #fff;
}
.menu-element input:-ms-input-placeholder {
    color: #fff;
}
.menu-element input:-moz-placeholder {
    color: #fff;
}
.menu-element input::placeholder {
    color: #fff;
}
.btn-search{
    display: block;
    width: 35px;
    height: 35px;
    background: url("../images/btn-search.png") no-repeat;
    background-size: contain;
    position: absolute;
    top:5px;
    right: 5px;
}
.version-check-wrapper{
    padding: 15px 5px;
    background-color: #0d0d0d;
    border-bottom: 2px solid #d77016;
}
.version-check-wrapper .myrow:first-child{
    margin-bottom: 20px;
}
.check-item{
    padding: 0;
}
.check-item input[type="checkbox"]{
    display: none;
}
label.check-item-label{
    color: #fff;
    font: 15px Calibri;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    margin-left: 60px;
}
label.check-item-label::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 35px;
    background-image:url(../images/no-check.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: -8px;
    left: -50px;
}
.check-item input[type="checkbox"]:checked + label::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image:url(../images/checked.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/*******************/
.custom-datepicker{
    cursor: pointer !important;
}
.date-wrapper .input-group{
    width: 100%;
}
.datepicker img{
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    right: 1px;
    top: 1px;
    background: url("../images/btn-calendar.png") no-repeat;
    background-size: contain;
}
/*******************************************/
.table-big-wrapper{
    font: 18px Calibri;
    padding-left: 360px;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.table-big-wrapper.toggle-table-big-wrapper{
    padding-left: 70px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.table-wrapper{
    background: #0d0d0d;
}
table.table-project{
    display: block;
    padding-left: 10px;
    margin: 0 auto;
    max-width: 1000px;
}
.td-wrapper{
    color:#ffffff;
    width: 12%;
    text-align: center;
    /*padding: 20px 20px;*/
}
.td-thead{
    color: #e67817;
    text-align: center;
}
.table-project thead tr{
    border-bottom: 2px solid #737374;
}
.table-project th,
.table-project td{
    padding: 10px;
    font-size: 18px;
    height: 90px;
    box-sizing: border-box;
}
.table-project tr:nth-child(2n+2) td{
    background: #0f1012;
}
.table-project tr:hover td{
    background: #353e44;
    cursor: pointer;
}
.table-project td:first-child div{
    border-right: 2px solid #737374;
}
.table-project tr.expired td{
    background: #6f0d0f;
}
.table-project tr.expired td:first-child div{
    border-right: 2px solid transparent;
}
.delete-project{
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 30px;
    background: url("../images/icon-delete.png") no-repeat;
    background-size: contain;
}
/*********************************/
.right-menu-wrapper{
    width: 0;
    background: #000;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.right-menu-inner-wrapper{
    display: none;
    /*margin: 110px auto 0;*/
    margin: 40px auto 0;
    position: relative;
    width: 280px;
}
.toggle-right-menu.right-menu-wrapper{
    width: 360px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.toggle-right-menu .right-menu-inner-wrapper {
    display: block;
}
/*********************************/
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 65px;
}
.custom-dropdown select {
    width: 100%;
    height: 65px;
    border: none;
    border-bottom: 2px solid #d77016;
    border-radius: 0;
    padding: 15px 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #221203;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    font: 17px Calibri;
    margin: 0;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
}
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/*********************************/
.btn-create{
    display: block;
    width: 100%;
    height: 55px;
    padding: 17px 0 0 30px;
    background: #e67817;
    color: #fff;
    font: 17px Calibri;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-create:hover{
    text-decoration: none;
    background: #fff;
    color: #e67817;
}
/*********************************/
footer {
    margin-top: -60px;
    height: 60px;
    background-color: #e67817;
}
.footer-text{
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font: 22px Calibri;
    text-transform: uppercase;
}
#clock {
}
#a {
    width:10.0em;
    height:10.0em;
    position:relative;
    border-radius:5.0em;
    background:#ccc;/*ccc*/
    box-shadow:
            inset 0.05em -0.05em 0 #333, /*ccc*/
            inset 0.17em -0.17em 0 #555,
            inset -0.03em -0.04em 0 #333, /*999*/
            inset -0.03em 0.02em 0 #333, /*ccc*/
            inset -0.1em -0.1em 0 #555,
            0.1em 0.3em 0.2em rgba(0,0,0,0.3);
}
#b {
    width:9.4em;
    height:9.4em;
    top:0.3em;
    left:0.3em;
    position:relative;
    border-radius:4.7em;
    background:#fff;
    box-shadow:
            inset 0.04em 0 0 #fff,
            inset 0 -0.06em 0 #ddd,
            inset 0.16em -0.08em 0 #222,
            inset -0.16em 0.08em 0 #222,
            inset 0.2em 0.2em 0 #222,
            0.06em -0.03em 0 #999,
            -0.1em 0.1em 0 #777,
            -0.13em -0.2em 0 #fff,
            0.13em 0.2em 0 #222,
            0.13em 0.3em 0 #333; /*ccc*/
}
#c {
    width:8.9em;
    height:8.9em;
    top:0.25em;
    left:0.25em;
    position:relative;
    border-radius:4.45em;
    background:#eed;/*f4f5f6;*/
    box-shadow:
            inset 0.15em 0.2em 0.05em rgba(0,0,0,0.4),
            inset 0.2em 0.4em 0.2em rgba(0,0,0,0.3),
            inset 0 0.05em 0.3em rgba(0,0,0,0.1),
            -0.16em 0.08em 0 #444,
            0.16em -0.08em 0 #444;
}
#d { width:8.8em;
    height:8.8em;
    top:0.05em;
    left:0.05em;
    position:relative;
    border-radius:4.4em;
}
#e { width:8.18em;
    height:8.18em;
    padding-top:4.09em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    left:0.29em;
    top:0.29em;
    position:absolute;
    border:solid 0.04em rgba(0,0,0,0.5);
    border-radius:4.09em;
}
#ii {
    padding-left:4.34em;
    position:absolute;
}
b, i {
    height:8.2em;
    position:absolute;
    display:block;
}
b {
    border:solid 0 #222;
    border-width:0.3em 0;
    width:0.12em;
}
i {
    border:solid 0 rgba(0,0,0,0.5);
    border-width:0.3em 0;
    width:0.04em;
}
b>i,i>i {
    transform:rotate(6deg) ;
    margin-top:-0.3em;
}
b>b  {
    transform:rotate(30deg);
    margin-top:-0.3em; }
b>i {
    left:0.03em;
}
#f,#g {
    font:1.2em/1.0em WallClock, sans-serif;
    text-align:center;
    width:6.8em;
    color:#222;
}
#g>u>u {
    letter-spacing:0.1em;
}
#g>u>u>u {
    letter-spacing:0;
}
u {
    display:block;
    line-height:1em;
    text-decoration: none;
}
u>u>u>u {
    margin:0.5em -0.55em;
    padding: 0 0.05em;
}
u>u>u {
    margin:0.0em -1.75em;
    padding: 0 0.7em;
}
u>u {
    margin:-0.55em 0;
    text-align:right;
    padding: 0 1.65em;
}
#f {
    margin-top:-3.37em;
}
#g {
    margin-top:-6em;
}
#g u>u {
    text-align:left;
}
#q {
    font:0.22em/1em Segoe UI,Helvetica,sans-serif;
    text-align:center;
    margin-top:-11.5em;
    color:#555;
}
.ss, .mm, .hh {
    width:8.0em;
    height:8.0em;
    top:0.4em;
    left:0.4em;
    position:absolute;
}
.hh {
    transform:rotate(-55deg);
}
.mm {
    transform:rotate(60deg);
}
.ss {
    animation: tick 1s normal infinite steps(25,end);
}
@keyframes tick {
    0% { transform: rotate(0deg); }
    12% { transform:rotate(6deg); }
    100% { transform: rotate(6deg); }
}
.s {
    width:0.1em;
    height:4.8em;
    top:0.6em;
    left:3.95em;
    position:relative;
    background:#a00;
    outline: 1px solid transparent;
    animation: a360_10 60s normal infinite steps(60,end);
}
.sr {
    width:0.3em;
    height:0.3em;
    background:#a00;
    margin:-0.95em 0 0 3.84em;
    border-radius:0.15em;
}
@keyframes a360_10  {
    0% { transform: translate(0, 1.0em) rotate(0deg) translate(0,-1.0em) }
    100% { transform: translate(0, 1.0em) rotate(360deg) translate(0,-1.0em) }
}

.m {
    height:4.8em;
    left:3.89em;
    width:0.22em;
    position:relative;
    background:#222;
    border:0 0 3.2em 0;
    animation: a36016 3600s normal infinite linear;
    outline: 1px solid transparent;
}
@keyframes a36016 {
    0% { transform: translate(0, 1.6em) rotate(0deg) translate(0,-1.6em); }
    100% { transform: translate(0, 1.6em) rotate(360deg) translate(0,-1.6em); }
}

.mr {
    width:0.5em;
    height:0.5em;
    background:#222;
    margin:-1.05em 0 0 3.74em;
    border-radius:0.25em;
}
.h {
    width:0.3em;
    height:3.4em;
    left:3.85em;
    position:relative;
    background:#222;
    margin-top:1.3em;
    outline: 1px solid transparent;
    animation: a36010 43200s normal infinite linear;
}
#sh {
    width:8.0em;
    height:8.0em;
    top:0.2em;
    left:0.1em;
    position:absolute;
    /*display:none;*/
}
#sh .s, #sh .m, #sh .h, #sh .mr  {
    background:#ddc;
    box-shadow:0 0 0.05em #ddc, 0 0 0.025em #ddc;
}
#k {
    width:8.8em;
    height:8.8em;
    position:absolute;
    border-radius:4.4em;
    box-shadow:inset 0.45em 0.9em 0.05em rgba(250,252,253,0.2);
}
/*animation*/
<style type="text/css">
                      #holder {
                          margin:50px auto;
                          -webkit-perspective:600px;
                          -moz-perspective:600px;
                          text-indent: 0px;
                      }

.box {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-animation: spin 20s infinite linear;
    -moz-animation: spin 20s infinite linear;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.box div {
    position: absolute;
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    -webkit-animation:rotate 15s infinite linear;
    -moz-animation:rotate 15s infinite linear;
}

.box div img {width:200px; height:200px;
    border-radius:200px;
    -webkit-animation:rot 10s infinite linear;
    -moz-animation:rot 10s infinite linear;
    padding: 0;
}

.box div.side1 {
    -webkit-transform:translateZ(100px);
    -moz-transform:translateZ(100px);
    background: url("../images/Izo1.jpg") no-repeat;
}
.box div.side2 {
    -webkit-transform:rotateY(90deg) translateZ(100px);
    -moz-transform:rotateY(90deg) translateZ(100px);
    background: url("../images/Izo2.jpg") no-repeat;
}
.box div.side3 {
    -webkit-transform:rotateY(180deg) translateZ(100px);
    -moz-transform:rotateY(180deg) translateZ(100px);
    background: url("../images/Izo3.jpg") no-repeat;
}
.box div.side4 {
    -webkit-transform:rotateY(-90deg) translateZ(100px);
    -moz-transform:rotateY(-90deg) translateZ(100px);
    background: url("../images/Izo4.jpg") no-repeat;
}
.box div.side5 {
    -webkit-transform:rotateX(-90deg) translateZ(100px) rotate(180deg);
    -moz-transform:rotateX(-90deg) translateZ(100px) rotate(180deg);
    background: url("../images/Izo5.jpg") no-repeat;
}
.box div.side6  {
    -webkit-transform:rotateX(90deg) translateZ(100px);
    -moz-transform:rotateX(90deg) translateZ(100px);
    background: url("../images/Izo6.jpg") no-repeat;
}

@-moz-keyframes spin {
    0% {-moz-transform: rotateX(0deg) rotateY(0deg);}
    100% {-moz-transform: rotateX(1080deg) rotateY(360deg);}
}
@-webkit-keyframes spin {
    0% {-webkit-transform: rotateX(0deg) rotateY(0deg);}
    100% {-webkit-transform: rotateX(1080deg) rotateY(360deg);}
}
@-moz-keyframes rot {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes rot {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
</style>